/* Importando fontes do Google Fonts (https://fonts.google.com) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

/* Início estilos gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --bg-color: #010101;
  --bg-alpha: #010101e5;
  --primary-color: #2383f2;
  --primary-alpha: #2383f249;
  --primary-hover: #0a54a9;
  --secondary-color: #fff;
  --third-color: #060606;
  --fourth-color: #121212;
  --fourth-color-alpha: #12121280;
  --label-color: #777;
}

::placeholder {
  font-family: "Poppins";
  color: var(--label-color);
}

.containerCover {
  background-image: url("../images/bg.png");
  background-size: cover;
  background-attachment: fixed;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-alpha);
  min-height: 100vh;
}

.title {
  font-family: "Poppins";
  color: var(--secondary-color);
  text-align: center;
  margin-bottom: 1.5rem;
}
/* Fim estilos gerais */

/* Início Form */
input {
  padding: 0.8rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 0.3rem;
}

.formPrimary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputPrimary {
  font-family: "Poppins";
  color: var(--fourth-color);
  width: 100%;
  border: none;
}

.inputPrimary:focus {
  outline: 0.15rem solid var(--primary-color);
}

.btnPrimary {
  font-family: "Poppins";
  background-color: var(--primary-color);
  color: var(--secondary-color);
  height: 3rem;
  width: 100%;
  border: none;
  cursor: pointer;
}

.btnPrimary:hover {
  background-color: var(--primary-hover);
}
/* Fim Form */

/* Início Navbar */
.navbar {
  display: flex;
  position: fixed;
  z-index: 10;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--fourth-color);
}

.navbar .logo img {
  padding: 0.5rem;
  margin-left: 1rem;
  width: 4rem;
}

.navbar .logo img:hover {
  filter: brightness(10);
  scale: 0.9;
  cursor: pointer;
  transition: 0.5s;
}
.navbar .menu .menuItems {
  display: flex;
  font-family: "Poppins";
  list-style: none;
}

.navbar .menu .menuItems li {
  padding: 1.2rem;
}

.navbar .menu .menuItems a {
  color: var(--label-color);
}

.navbar .menu .menuItems a:hover {
  color: var(--primary-color);
}

.menuBtn {
  color: var(--label-color);
  font-size: 2rem;
  cursor: pointer;
  margin-right: 1.5rem;
  display: none;
}
/* Fim Navbar */

/* Início conteúdo Login */
.loginContent {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
}

.loginContent .logo {
  margin-top: -5%;
}

.loginContent .logo .logoImg {
  max-width: 25rem;
}

.loginContent .loginCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 50%;
  margin-right: 3rem;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 1rem;
  box-shadow: 0 8px 32px 0 var(--primary-alpha);
  border: solid 1px var(--primary-color);
  font-family: "Poppins";
  color: var(--secondary-color);
}

.loginContent .loginCard .loginCardHeader {
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.loginContent .loginCard .loginCardBody {
  width: 70%;
}
/* Fim conteúdo Login */

/* Início conteúdo Home */
#loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 50vh;
  color: var(--secondary-color);
  font-family: "Poppins";
  font-size: 1rem;
}

#loading img {
  width: 5rem;
}

.homeContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.homeContent .listGamesCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-top: 6rem;
  margin-bottom: 6rem;
  padding: 2rem;
  background-color: var(--fourth-color-alpha);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: solid 1px var(--primary-alpha);
  border-radius: 0.5rem;
}

.homeContent .listGamesCard .games {
  display: grid;
  grid-template-columns: 17% 17% 17% 17% 17%;
  gap: 1rem 2.5rem;
  align-items: center;
  justify-content: center;
  font-family: "Poppins";
  font-size: 0.8rem;
}

.homeContent .listGamesCard .games img {
  width: 50%;
  border-radius: 0.5rem;
  border: solid 1px var(--primary-color);
  padding-top: 1rem;
  filter: grayscale();
}

.homeContent .listGamesCard .games img:hover {
  filter: none;
  cursor: pointer;
  scale: 0.9;
  transition: 0.2s;
  box-shadow: 0 8px 32px 0 var(--primary-alpha);
}

.homeContent .listGamesCard .games h3 {
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}

.homeContent .listGamesCard .games li {
  list-style: none;
  color: var(--secondary-color);
  margin-bottom: 0.1rem;
}

.homeContent .listGamesCard .games .btnDel {
  font-family: "Poppins";
  font-size: 0.7rem;
  background-color: var(--fourth-color);
  color: var(--secondary-color);
  height: 1.6rem;
  width: 3rem;
  border: none;
  cursor: pointer;
  border-radius: 0.2rem;
  margin-right: 0.5rem;
  margin-top: 0.3rem;
}

.homeContent .listGamesCard .games .btnEdit {
  font-family: "Poppins";
  font-size: 0.7rem;
  background-color: var(--fourth-color);
  color: var(--secondary-color);
  height: 1.6rem;
  width: 3rem;
  border: none;
  cursor: pointer;
  border-radius: 0.2rem;
  margin-top: 0.3rem;
}

.homeContent .listGamesCard .games .btnDel:hover {
  background-color: #f22323;
}

.homeContent .listGamesCard .games .btnEdit:hover {
  background-color: var(--primary-color);
}

/* Fim conteúdo Home */

/* Início conteúdo Cadastro */
.createContent {
  width: 40%;
  margin-top: 5rem;
  margin-bottom: 4rem;
  padding: 2rem;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 1rem;
  box-shadow: 0 8px 32px 0 var(--primary-alpha);
  border: solid 1px var(--primary-color);
}
/* Fim conteúdo Cadastro */

/* Início conteúdo Edição */
.editModal {
  display: none;
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
}

.editContent {
  background-color: var(--fourth-color-alpha);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: solid 2px var(--primary-alpha);
  border-radius: 0.5rem;
  margin: 5% auto;
  padding: 20px;
  width: 35%;
}

.modalClose {
  color: var(--label-color);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modalClose:hover,
.modalClose:focus {
  color: var(--primary-color);
  text-decoration: none;
  cursor: pointer;
}
/* Fim conteúdo Edição */

/* Início Footer */
.footerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 8rem;
  font-family: "Poppins";
  font-size: 0.6rem;
  text-align: center;
  padding: 2rem;
  background-color: var(--third-color);
  color: var(--label-color);
}

.footerContent li {
  list-style: none;
}

.footerContent li:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.footerContent .footerLeft .footerItems {
  display: flex;
  text-align: left;
}

.footerContent .footerLeft .footerItems li {
  padding: 0.8rem;
}

.footerContent .footerRight {
  font-size: 0.8rem;
  margin-right: 1rem;
}
/* Fim Footer */

/* RESPONSIVIDADE */
@media (max-width: 1200px) {
  .containerCover {
    background-attachment: scroll;
  }

  /* Início do conteúdo Login */
  .loginContent .logo .logoImg {
    max-width: 16rem;
  }

  .loginContent .loginCard {
    width: 50%;
    height: 40%;
    margin: 0;
  }

  .loginContent .loginCard .loginCardHeader {
    margin-bottom: 1rem;
  }
  /* Fim do conteúdo Login */

  /* Início do conteúdo Home */
  .homeContent .listGamesCard {
    width: 100%;
    height: 100%;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border: none;
    border-radius: none;
  }

  .homeContent .listGamesCard .games {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .homeContent .listGamesCard .games .btnDel {
    background-color: #f22323;
  }

  .homeContent .listGamesCard .games .btnEdit {
    background-color: var(--primary-color);
  }
  /* Fim do conteúdo Home */

  .editContent {
    width: 60%;
  }

  .createContent {
    width: 50%;
  }

  .footerContent .footerLeft {
    display: none;
  }

  .footerContent .footerRight {
    width: 100%;
  }
}

@media (max-width: 1200px) and (max-height: 667px) {
  /* Início do conteúdo Login */
  .loginContent .loginCard {
    width: 50%;
    height: 65%;
    margin: 0;
  }

  .loginContent .loginCard .loginCardHeader {
    margin-bottom: 0.1rem;
  }

  input {
    padding: 1rem;
    margin-bottom: 0;
  }
  /* Fim do conteúdo Login */
}

@media (max-width: 768px) {
  .containerCover {
    background-attachment: scroll;
  }

  /* Início Navbar */
  .navbar .logo img {
    padding: 0.5rem;
    margin-left: 0.1rem;
    width: 3.5rem;
  }

  .navbar .menuItems {
    flex-direction: column;
    align-items: center;
    background-color: var(--fourth-color);
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }

  .navbar .menuItems li {
    width: 80%;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    border-bottom: 2px outset var(--label-color);
  }

  .menuBtn {
    display: block;
    z-index: 999;
  }

  #menuIcon.active:before {
    content: "\f00d";
  }

  #menuItems.active {
    left: 0;
  }
  /* Fim Navbar */

  .title {
    font-size: 0.8rem;
  }

  /* Início do conteúdo Login */
  .loginContent {
    flex-direction: column;
    justify-content: center;
  }

  .loginContent .logo .logoImg {
    max-width: 20rem;
    margin-bottom: 4rem;
    margin-top: -5rem;
  }

  .loginContent .loginCard {
    width: 90%;
    height: 40%;
    margin: 0;
  }

  .loginContent .loginCard .loginCardHeader {
    margin-bottom: 1.5rem;
  }

  /* Fim di conteúdo Login */

  /* Início do conteúdo Home */
  .homeContent .listGamesCard {
    width: 100%;
    height: 100%;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border: none;
    border-radius: none;
  }

  .homeContent .listGamesCard .games {
    grid-template-columns: 1fr 1fr;
  }

  .homeContent .listGamesCard .games img {
    border: none;
    width: 30%;
  }

  .homeContent .listGamesCard .games img:hover {
    border: none;
    box-shadow: none;
  }

  .homeContent .listGamesCard .games .btnDel {
    display: none;
  }

  .homeContent .listGamesCard .games .btnEdit {
    display: none;
  }

  .homeContent .listGamesCard .games .listGames {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.5rem;
  }

  /* Fim do conteúdo Home */

  .editContent {
    width: 90%;
  }

  .createContent {
    width: 85%;
  }

  .footerContent .footerLeft {
    display: none;
  }

  .footerContent .footerRight {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .loginContent .logo .logoImg {
    max-width: 16rem;
  }
}
